.bluetext {
  color: #3171d8 ;
}

@font-face {
  font-family: 'MyWebFont';
  src: url('../weathericons-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../weathericons-regular-webfont.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../weathericons-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../weathericons-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../weathericons-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../weathericons-regular-webfont.svg') format('svg'); /* Legacy iOS */
}
body{
  
  background-image: url("https://media.giphy.com/media/dI3D3BWfDub0Q/giphy.gif"); 
  background-repeat:no-repeat;
    background-size:cover;
}

.whitetext{
  color: white;
}

#inasub{
  text-align: center;
}